# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible files
*.retry
*.vault
*.log
*.cfg
inventory/
group_vars/
host_vars/
secrets.yml
secrets.yaml
vault_pass.txt
